{% extends "layout.html" %}

{% block pageTitle %}
Experience: Educatus
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Professional Experience
      </h1>

        <h2 class="govuk-heading-l">
          Educatus
        </h2>
        <h2 class="govuk-heading-m">
        Education Consultant & Researcher<span class="govuk-caption-m">(October 2015 to September 2017)</span>
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Providing clear guidance about school applications to people who have just arrived in the country.
          </li>
          <li>
            Writing for social platforms and blog.
          </li>
          <li>
            Guiding users through the end-to-end journey of relocating and placing their children in schools.
          </li>
          <li>
            Communicating and negotiating with schools all over the UK.
          </li>

          <br />
      <form class="form" action="chichester-high" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      </form>


    </div>
  </div>

{% endblock %}
