
{% extends "layout.html" %}

{% block pageTitle %}
  Alexa Barlow
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Alexa Barlow
        <span class="govuk-caption-xl">Content, Copy and Communications</span>
      </h1>


      <h2 class="govuk-heading-m">About me</h2>

      <p>I create content, copy and communications for specific audiences.<br />
        I make end-to-end journeys easy to understand.<br />
        I build relationships and collaborate with various stakeholders.
</p>



      <h2 class="govuk-heading-m">Curriculum vitae (C.V.)</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="roedean">Professional experience</a>
        </li>
        <li>
          <a href="qualifications">Professional qualifications</a>
        </li>
        <li>
          <a href="skills">Skills</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">Education</a>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Portfolio</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Content Design Link 01</a>
        </li>
        <li>
          <a href="#">Content Design Link 02</a>
        </li>
        <li>
          <a href="#">Content Design Link 03</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
