{% extends "layout.html" %}

{% block pageTitle %}
Professional Experience
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Professional Experience
      </h1>
      <h2 class="govuk-heading-l">
      Roedean School
      </h2>
      <h2 class="govuk-heading-m">
      Registrar: Communications, Partnerships and Projects<span class="govuk-caption-m">(September 2017-present)</span>
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Keeping a balance between the school’s preferred tone, their brand guidelines and readability when writing copy.
        </li>
        <li>
          Making sure that all communications to parents about making an application are clear and offer the most efficient  user-journey possible.
        </li>
        <li>
          Creating content to attract more applicants.
        </li>
          <li>
          Working on projects collaboratively with Senior Team, colleagues across the Roedean Group of Schools and external providers.
        </li>
        <li>
          Co-managing a small team.
        </li>
 <br /><br />
      <p>
        <strong>Communications:</strong> email communications / Landing pages / Website <br />
        <strong>Content:</strong> brochures / ads / videos / video tutorials / social posts <br />
        <strong>Projects:</strong> marketing campaigns / admissions events / creating an online admissions process during the pandemic / new website

        </p>
        <h2 class="govuk-heading-l">
          Ebb&Flow
        </h2>
        <h2 class="govuk-heading-m">
        Lecturer<span class="govuk-caption-m">(April 2020-March 2021)</span>
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Giving online lectures about homeschooling to staff furloughed from the construction industry.
          </li>
          <li>
            Creating slide decks for presentations.
          </li>
          <li>
            Creating additional downloads for users with more detailed guidance and advice.
          </li>

   <br /><br />

   <h2 class="govuk-heading-l">
     Ebb&Flow
   </h2>
   <h2 class="govuk-heading-m">
   Lecturer<span class="govuk-caption-m">(April 2020-March 2021)</span>
   </h2>

   <ul class="govuk-list govuk-list--bullet">
     <li>
       Giving online lectures about homeschooling to staff furloughed from the construction industry.
     </li>
     <li>
       Creating slide decks for presentations.
     </li>
     <li>
       Creating additional downloads for users with more detailed guidance and advice.
     </li>

<br /><br />


    </div>
  </div>

{% endblock %}
