{% extends "layout.html" %}

{% block pageTitle %}
Qualifications
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Professional qualifications
      </h1>


        <h2 class="govuk-heading-m">
        Copywriting – Online Short Course<span class="govuk-caption-m">(City University – Aug 2021)
        </span>
        </h2>

        <h2 class="govuk-heading-m">
          The Fundamentals of Digital Marketing - Online
        <span class="govuk-caption-m">(Google – Aug 21)
        </span>
        </h2>

        <h2 class="govuk-heading-m">
          InDesign training
        <span class="govuk-caption-m">(Silicon Beach Training - 2019 - 1-Day intensive)
        </span>
        </h2>

        <h2 class="govuk-heading-m">
          Admissions and Marketing CPD
        <span class="govuk-caption-m">(AMCIS – 2018 & 2019)
        </span>
        </h2>

        <h2 class="govuk-heading-m">
          Annually updated  safeguarding training
        <span class="govuk-caption-m">(most recent -NSPCC – Sep 2020)
        </span>
        </h2>

          <br />
      <form class="form" action="skills" method="post">
          <button class="govuk-button" data-module="govuk-button">
            View skills and software
          </button>
      </form>
      <p>
        Back to <a href="index">Alexa Barlow — Homepage</a>
        </p>


    </div>
  </div>

{% endblock %}
